# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\We Can Code IT\Downloads\2020-winter-cohort-mastery-sheera-sabur-main (3)\FixTheCar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
